

.blog {
    border: none !important;
}

.card-img-top {
    height: 400px;
    object-fit: cover;
}

.card-title {
    font-size: 27.5px !important;
    font-weight: 600;
    text-decoration: none !important;
    color: rgb(20, 20, 20) !important;
}

.card-text {
    font-size: 17.5px !important;
    text-decoration: none !important;
    color: rgb(20, 20, 20) !important;
}

.blog-jumbotron {
    background-color: #bdb2ff !important;
}

h1 {
    font-weight: 500 !important;
    font-size: 70px;
    font-weight: 600 !important;
}

a:hover {
    text-decoration: none !important;
    color: rgb(20, 20, 20) !important;
}

.title {
    padding-bottom: 0.1%;
    padding-top: 0.5%;
    color: #888888 !important;
    font-weight: 300 !important;
}

.card{
    background: #fff;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.04);
}

.card:active {
    transform: scale(1.02);
}
